<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   color.plist
   ios-groups

   Created by 董旭 on 17/2/16.
   Copyright (c) 2017年 董旭. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>bg_navigationbar_color</key>
        <string>#0a0a0f</string>
        
        <key>bg_content_color</key>
        <string>#F3F3F7</string>
        
        <key>primary_color</key>
        <string>#1FB922</string>
        
        <key>secondary_color</key>
        <string>#319B39</string>
        
    </dict>
</plist>
